.app-our-best {
	background-image: url('../../../resources/images/backgrounds/paper-1074131_1920.png');
	padding-top: 80px;
	padding-bottom: 110px;
	text-align: center;
	& h2 {
		margin-bottom: 39px;
	}
}