.button {
  max-width: 75px;
  font-size: 9pt;
  text-align: center;
  padding: 7px 20px;
  color: #000;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0px 0px 4px;
  &:nth-child(2) {
    margin: 0px 10px;
  }
  &:nth-child(3) {
    padding: 7px 10px;
  }
}

.buttonClose {
  max-width: 50px;
}
