.app-our-best {
	background-image: url('../../../../resources/images/backgrounds/paper-1074131_1920.png');
	padding-top: 80px;
	padding-bottom: 110px;
	text-align: center;
	& h2 {
		margin-bottom: 39px;
	}
}

.cart {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.65);
	border-radius: 8px;
	padding: 20px;
	& img {
		margin-bottom: 14px;
		align-self: center;
		flex: 1 1 auto;				//свойство для увеличения картинки и чтобы прижать цену к низу блока
		max-width: 100pt;
	}
	& h3 {
		font-weight: 400;
		font-size: 14px;
		line-height: 20.22px;
		margin-bottom: 10px;
	}
	& span {
		text-align: end;
		font-weight: 700;
	}
}