{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "auto",
  "semi": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "printWidth": 120
}