.app-our-best {
	background-image: url('../../resources/images/backgrounds/paper-1074131_1920.png');
	text-align: center;
	padding: 80px 0px 110px 0px;
	
	& h2 {
		margin-bottom: 39px;
	}
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card {
	background: rgba(255, 255, 255, 0.65);
	border-radius: 8px;
	padding: 20px;
	& img {
		margin-bottom: 14px;
	}
	& h3 {
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 10px;
	}
}

.price {
	display: flex;
	justify-content: right;
	font-weight: 700;
}