header {
	padding-top: 15pt;
	margin-left: 70pt;
}
.navigation {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	button {
		margin-right: 40px;
	}
	.button_menu:nth-child(1)::before {
		content: url('../../resources/icons/coffee-beans_black.svg');
	}
}
h1 {
	font-size: 40px;
}
div  {
	p {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 15pt;
		&:nth-child(1) {
			margin-top: 19pt;
		}
	}
	.buttonMenu {
		background-color: transparent;
		border: 0px; 
		cursor: pointer;
		font-size: 14px;
		padding: 5pt 35pt;
		border-radius: 3px;
	}
	button {
		background-color: transparent;
		color: #fff;
		cursor: pointer;
		border: 1px solid #fff;
		font-size: 14px;
		padding: 5pt 35pt;
		border-radius: 3px;
	}
}

@media(max-width: 768px) {
	#offcanvas-navbar-nav {
		background-color: transparent;
		backdrop-filter: blur(5px);
	}
	
	button.btn-close {
		background-color: #fff;
	}
	
	button.navbar-toggler {
		margin: 10px 20px;
		background-color: RGBA(255,255,255,0.35);
	}
}

@media (min-width: 768px) {
	.navbar-nav {
		align-items: flex-end;
	}
	.navbar {
		background-color: rgba(0,0,0, 0.5);

	}
	.navbar-nav:nth-child(1) {
		& a {
			padding-left: 0px !important;
		}
		&::before{
			content: url('../../resources/icons/coffee-beans-1.png');
		}
	}
}

.navbar-nav {
	& a {
		padding-right: 40px !important;
		padding-bottom: 0px;
	}
}
