.font-1 {
	font-size: 1pt;
}

.font-2 {
	font-size: 2pt;
}

.font-3 {
	font-size: 3pt;
}

.font-4 {
	font-size: 4pt;
}

.font-5 {
	font-size: 5pt;
}

.font-6 {
	font-size: 6pt;
}

.font-7 {
	font-size: 7pt;
}

.font-8 {
	font-size: 8pt;
}

.font-9 {
	font-size: 9pt;
}

.font-10 {
	font-size: 10pt;
}

.font-11 {
	font-size: 11pt;
}

.font-12 {
	font-size: 12pt;
}

.font-13 {
	font-size: 13pt;
}

.font-14 {
	font-size: 14pt;
}

.font-15 {
	font-size: 15pt;
}

.font-16 {
	font-size: 16pt;
}

.font-17 {
	font-size: 17pt;
}